<div class="row border-bottom white-bg">
	<div class="col-lg-12">
		<h1>
			<i class="fa fa-tachometer"></i> Kontrolna ploča
		</h1>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">

			<div class="ibox float-e-margins">
				<div class="ibox-title gray-bg">
					<h5>
						<i class="fa fa-users fa-lg"></i>&nbsp;&nbsp;&nbsp;NAJNOVIJI KORISNICI
					</h5>
					<div class="ibox-tools">
						<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</div>
				</div>
				<div class="ibox-content">
					<div ng-repeat="user in users" class="col-lg-4 col-md-4 col-sm-4 col-xs-6 p-xs">
						<div class="panel panel-default custom-box-shadow">
							<div class="panel-heading">
								<h4 class="m-t-xxs m-b-xxs">
									<a class="custom-a" ng-click="showUser(user)">{{user.firstName + ' ' + user.lastName}}</a>
								</h4>
							</div>
							<div class="panel-body">
								<div class="form-group">
									<label class="custom-gray p-xxs" style="width: 100%">Tvrtka</label>
									<span class="p-xxs">{{user.company.name}}</span>
								</div>
								<div class="form-group">
									<label class="custom-gray p-xxs" style="width: 100%">OIB</label>
									<span class="p-xxs">{{user.company.oib}}</span>
								</div>
							</div>
							<div class="panel-footer">
								<div class="row">
									<div class="col-md-8"><small>Datum registracije: {{user.timeCreated | date : dateFormat}}</small></div>
									<div class="col-md-4" style="text-align: right;"><small><a class="custom-a" ng-click="showUser(user)">Detalji...</a></small></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="ibox float-e-margins">
				<div class="ibox-title gray-bg">
					<h5>
						<i class="fa fa-star fa-lg"></i>&nbsp;&nbsp;&nbsp;NAJNOVIJI NATJEČAJI
					</h5>
					<div class="ibox-tools">
						<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</div>
				</div>
				<div class="ibox-content">
					<div ng-repeat="tender in tenders" class="col-lg-4 col-md-4 col-sm-4 col-xs-6 p-xs">
						<div class="panel panel-default custom-box-shadow">
							<div class="panel-heading">
								<h4 class="m-t-xxs m-b-xxs">
									<a class="custom-a" ng-click="showTender(tender)">{{tender.name}}</a>
								</h4>
							</div>
							<div class="panel-body">
								<div class="form-group" ng-repeat="question in tender.questions" ng-show="question.metadata && question.metadata.indexOf('PANEL_DATA') != -1">
									<label class="custom-gray p-xxs" style="width: 100%">{{question.text}}</label>
									<span ng-show="question.metadata && question.metadata.indexOf('DATE') == -1" class="p-xxs">{{question.answer.value | date : dateFormat}}</span>
									<span ng-show="question.metadata && question.metadata.indexOf('DATE') != -1" class="p-xxs">{{question.answer.value | date : dateFormat}}</span>
								</div>
							</div>
							<div class="panel-footer">
								<div class="row">
									<div class="col-md-8"><small>Datum objave: {{tender.lastModified | date : dateFormat}}</small></div>
									<div class="col-md-4" style="text-align: right;"><small><a class="custom-a" ng-click="showTender(tender)">Detalji...</a></small></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="ibox float-e-margins">
				<div class="ibox-title gray-bg">
					<h5>
						<i class="fa fa-area-chart fa-lg"></i>&nbsp;&nbsp;&nbsp;STATISTIKA
					</h5>
					<div class="ibox-tools">
						<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</div>
				</div>
				<div class="ibox-content">
					<strong>Lorem ipsum dolor</strong> Aenean commodo ligula eget
					dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
					parturient montes, nascetur ridiculus mus. Donec quam felis,
					ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
					massa quis enim.
				</div>
			</div>

		</div>
	</div>
</div>

<script>
	$('.collapse-link').click(function() {
		var ibox = $(this).closest('div.ibox');
		var button = $(this).find('i');
		var content = ibox.find('div.ibox-content');
		content.slideToggle(200);
		button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
		ibox.toggleClass('').toggleClass('border-bottom');
		setTimeout(function() {
			ibox.resize();
			ibox.find('[id^=map-]').resize();
		}, 50);
	});
</script>