<div class="row border-bottom white-bg">
	<div class="col-lg-12">
		<h1>
			<i class="fa fa-tachometer"></i> Kontrolna ploča
		</h1>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">

			<div class="ibox float-e-margins">
				<div class="ibox-title gray-bg">
					<h5>
						<i class="fa fa-users fa-lg"></i>&nbsp;&nbsp;&nbsp;NAJNOVIJI KORISNICI
					</h5>
					<div class="ibox-tools">
						<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</div>
				</div>
				<div class="ibox-content">
					<div ng-repeat="user in users" class="col-lg-4 col-md-4 col-sm-4 col-xs-6 p-xs">
						<div class="panel panel-default custom-box-shadow">
							<div class="panel-heading" style="height: 40px">
								<div style="text-align: right; margin-top: -22px; margin-right: -10px;">
									<small class="label-primary custom-label-date">{{user.timeCreated | date : 'dd.MM.yyyy'}}</small>
								</div>
								<a class="custom-a" ng-click="showUser(user)">
									<p class="custom-panel-heading-p" data-ng-bind="user.firstName + ' ' + user.lastName" data-ellipsis></p>
								</a>
							</div>
							<div class="panel-body">
								<div class="form-group" style="margin-bottom: 5px;">
									<label class="custom-gray p-xxs" style="width: 100%; font-weight: normal;">Tvrtka</label>
									<span class="p-xxs">{{user.company.name}}</span>
								</div>
								<div class="form-group" style="margin-bottom: 5px;">
									<label class="custom-gray p-xxs" style="width: 100%; font-weight: normal;">OIB</label>
									<span class="p-xxs">{{user.company.oib}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="ibox float-e-margins">
				<div class="ibox-title gray-bg">
					<h5>
						<i class="fa fa-star fa-lg"></i>&nbsp;&nbsp;&nbsp;NAJNOVIJI NATJEČAJI
					</h5>
					<div class="ibox-tools">
						<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</div>
				</div>
				<div class="ibox-content">
					<div ng-repeat="tender in tenders" class="col-lg-4 col-md-4 col-sm-4 col-xs-6 p-xs">
						<div class="panel panel-default custom-box-shadow">
							<div class="panel-heading custom-panel-heading">
								<div style="text-align: right; margin-top: -22px; margin-right: -10px;">
									<small class="label-primary custom-label-date">{{tender.lastModified | date : 'dd.MM.yyyy'}}</small>
								</div>
								<a class="custom-a" ng-click="showTender(tender)">
									<p class="custom-panel-heading-p" data-ng-bind="tender.name" data-ellipsis></p>
								</a>
							</div>
							<div class="panel-body">
								<a class="custom-a" ng-click="showTender(tender)">
									<img ng-show="tender.base64 != null" ng-src="data:image/JPEG;base64,{{tender.base64}}" width="100%" style="margin-bottom: 10px;">
								</a>
								<div class="form-group" style="margin-bottom: 5px;" ng-repeat="question in tender.questions" ng-show="question.metadata && question.metadata.indexOf('PANEL_DATA') != -1">
									<label class="custom-gray p-xxs" style="width: 100%; font-weight: normal;">{{question.text}}</label>
									<span ng-show="question.metadata && question.metadata.indexOf('DATE') == -1" class="p-xxs">{{question.answer.value | date : dateFormat}}</span>
									<span ng-show="question.metadata && question.metadata.indexOf('DATE') != -1" class="p-xxs">{{question.answer.value | date : dateFormat}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="ibox float-e-margins">
				<div class="ibox-title gray-bg">
					<h5>
						<i class="fa fa-area-chart fa-lg"></i>&nbsp;&nbsp;&nbsp;STATISTIKA
					</h5>
					<div class="ibox-tools">
						<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</div>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 m-b-md custom-chart-container">
							<h4 style="width: 100%">Broj tvrtki po sektorima<i ng-click="showStatistics('COMPANIES_BY_SECTOR')" class="fa fa-pie-chart fa-lg pull-right custom-pointer" tooltip="Detaljnije"></i></h4>
							<canvas class="chart chart-doughnut" chart-data="data0" chart-labels="labels0" chart-legend="true"></canvas>
						</div>
						<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 m-b-md custom-chart-container">
							<h4>Broj tvrtki po županijama<i ng-click="showStatistics('COMPANIES_BY_LOCATION')" class="fa fa-pie-chart fa-lg pull-right custom-pointer" tooltip="Detaljnije"></i></h4>
							<canvas class="chart chart-doughnut" chart-data="data1" chart-labels="labels1" chart-legend="true"></canvas>
						</div>
					</div>
					<div class="row m-t-md">
						<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 m-b-md custom-chart-container">
							<h4>Najčešće odabrane investicije<i ng-click="showStatistics('TOP_INVESTMENTS')" class="fa fa-pie-chart fa-lg pull-right custom-pointer" tooltip="Detaljnije"></i></h4>
							<canvas class="chart chart-pie" chart-data="data2" chart-labels="labels2" chart-legend="true"></canvas>
						</div>
						<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 m-b-md custom-chart-container">
							<h4>Prihodi poduzeća u prošloj godini<i ng-click="showStatistics('TOP_REVENUES')" class="fa fa-pie-chart fa-lg pull-right custom-pointer" tooltip="Detaljnije"></i></h4>
							<canvas class="chart chart-pie" chart-data="data3" chart-labels="labels3" chart-legend="true"></canvas>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

<script>
	$('.collapse-link').click(function() {
		var ibox = $(this).closest('div.ibox');
		var button = $(this).find('i');
		var content = ibox.find('div.ibox-content');
		content.slideToggle(200);
		button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
		ibox.toggleClass('').toggleClass('border-bottom');
		setTimeout(function() {
			ibox.resize();
			ibox.find('[id^=map-]').resize();
		}, 50);
	});
</script>