<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 ng-show="!isEditMode" class="modal-title">Dodaj stavku</h4>
				<h4 ng-show="isEditMode" class="modal-title">Uredi stavku</h4>
			</div>
			<div class="body modal-body">
				<form name="form" class="form-horizontal ng-pristine ng-valid" novalidate>
					<div class="form-group">
						<label class="col-sm-3 control-label" style="padding-top: 0px">Obavezna stavka</label>
						<div class="col-sm-9">
							<input icheck ng-model="question.mandatory" type="checkbox">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Meta tagovi</label>
						<div class="col-sm-9">
							<select chosen multiple class="form-control" ng-model="question.metadata" ng-options="metadata for metadata in questionMetadata" 
								data-placeholder="Molimo odaberite..." allow-single-deselect="true">
								<option />
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Tekst</label>
						<div class="col-sm-9">
							<textarea ng-model="question.text" rows="3" class="form-control" name="questionText" ng-required="true" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Tip</label>
						<div class="col-sm-9">
							<select chosen class="form-control" ng-model="question.type" ng-options="questionType for questionType in questionTypes" 
								data-placeholder="Molimo odaberite..." allow-single-deselect="true" ng-required="true">
								<option />
							</select>
						</div>
					</div>
					<div class="form-group" ng-show="question.type == 'RADIO' || question.type == 'CHECKBOX' || question.type == 'SELECT' || question.type == 'MULTI_SELECT'">
						<label class="col-sm-3 control-label">Opcije</label>
						<div class="col-sm-9">
							<div ng-repeat="option in question.options" class="col-sm-12" style="padding-left: 0px; padding-right: 0px;">
								<div class="col-sm-12 m-b-xs" style="padding-left: 0px; padding-right: 0px;">
									<div class="col-sm-9" style="padding-left: 0px;">
										<input type="text" class="form-control" ng-model="option.value" ng-required="question.type == 'RADIO' || question.type == 'SELECT' || question.type == 'MULTI_SELECT'" />
									</div>
									<div class="col-sm-3" style="padding-right: 0px; text-align: right;">
										<button ng-click="removeOption($index)" ng-show="$index > 0" class="btn btn-primary"><i class="fa fa-minus"></i></button>
										<button ng-click="addOption($index)" class="btn btn-primary m-l-xxs"><i class="fa fa-plus"></i></button>
									</div>
								</div>	
							</div>		
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer p-xxs">
				<button type="button" data-dismiss="modal" class="btn btn-white">Otkaži</button>
				<button type="button" ng-click="save()" ng-disabled="form.$invalid" class="btn btn-primary"><i class="fa fa-save"></i> Spremi</button>
			</div>
		</div>
	</div>
</div>