<div class="row border-bottom white-bg">
	<div class="col-lg-12">
		<h1>
			<i class="fa fa-wrench"></i> Profile tvrtke
		</h1>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row custom-dnd">
		<div class="col-md-12">
			<div class="btn-group pull-right m-b-xs">
				<button ng-click="editQuestion(0)" class="btn btn-primary"><i class="fa fa-plus"></i> Dodaj pitanje</button>
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a ng-click="preview()"><i class="fa fa-file-o"></i> Preview</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-12">
			<ul dnd-list="questions">
				<li ng-repeat="question in questions" dnd-draggable="question" dnd-moved="questions.splice($index, 1); orderChanged();"
						dnd-effect-allowed="move" dnd-selected="selected = question" ng-class="{'selected': selected === question}">
					<div class="row">
						<div class="col-md-9">
							{{$index + 1}}. {{question.text}}
						</div>
						<div class="col-md-3" style="text-align: right;">
							<span class="badge badge-default"><small style="padding-left: 3px; padding-right: 3px;">{{question.type}}</small></span>
							<button ng-click="deleteQuestion(question.id)" class="pull-right btn-xs btn-white" tooltip="Obriši"><i class="fa fa-2x fa-times"></i></button>
							<button ng-click="editQuestion(question.id)" class="pull-right btn-xs btn-white m-r-xs m-l-lg" tooltip="Uredi"><i class="fa fa-2x fa-edit"></i></button>
						</div>			
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>