<div class="row border-bottom white-bg">
	<div class="col-lg-12">
		<h1 ng-show="entityType == 'company'"><i class="fa fa-wrench"></i> Predložak za profil tvrtke</h1>
		<h1 ng-show="entityType == 'tender'"><i class="fa fa-wrench"></i> Predložak za natječaj</h1>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row custom-dnd">
		<div class="col-md-12">
			<div class="btn-group pull-right m-b-xs">
				<button ng-click="editQuestion(0)" class="btn btn-primary"><i class="fa fa-plus"></i> Dodaj stavku</button>
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a ng-click="preview()"><i class="fa fa-file-o"></i> Preview</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-12">
			<ul dnd-list="questions">
				<li ng-repeat="question in questions" dnd-draggable="question" dnd-moved="questions.splice($index, 1); orderChanged();"
						dnd-effect-allowed="move" dnd-selected="selected = question" ng-class="{'selected': selected === question}">
					<div class="row">
						<div class="col-md-8">
							{{$index + 1}}. {{question.text}}
						</div>
						<div class="col-md-4" style="text-align: right;">
							<span class="badge badge-default"><small>{{question.type}}</small></span>
							<button ng-click="deleteQuestion(question.id)" class="pull-right btn-xs btn-white" tooltip="Obriši"><i class="fa fa-2x fa-times"></i></button>
							<button ng-show="entityType == 'tender' && question.linkQuestionId == null" ng-click="linkQuestion(question.id)" class="pull-right btn-xs btn-white m-r-xs" tooltip="Poveži"><i class="fa fa-2x fa-external-link"></i></button>
							<button style="background: #1ab394;" ng-show="entityType == 'tender' && question.linkQuestionId != null" ng-click="linkQuestion(question.id)" class="pull-right btn-xs btn-white m-r-xs" tooltip="Poveži"><i style="color: white;" class="fa fa-2x fa-external-link"></i></button>
							<button ng-click="editQuestion(question.id)" class="pull-right btn-xs btn-white m-r-xs m-l-lg" tooltip="Uredi"><i class="fa fa-2x fa-edit"></i></button>
						</div>			
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>