<div class="row border-bottom white-bg">
	<div class="col-lg-12">
		<h1 ng-show="mode == 'show'"><i class="fa fa-eye"></i> Detalji investicije</h1>
		<h1 ng-show="mode == 'edit' && id != 0"><i class="fa fa-edit"></i>  Uredi investiciju</h1>
		<h1 ng-show="mode == 'edit' && id == 0"><i class="fa fa-plus"></i>  Dodaj investiciju</h1>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	
	<div class="row" ng-show="mode == 'show'">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading"><strong class="custom-header">{{investment.name}}</strong></div>
				<div class="panel-body">
					{{investment.description}}
				</div>
				<div class="panel-footer" style="text-align: right;">
					<small>Zadnja izmjena: {{investment.lastModified | date : dateTimeFormat}}</small>
				</div>
			</div>
			<hr class="custom-hr">
			<div class="col-lg-12" style="text-align: right;">
				<button ng-click="back()" class="btn btn-white m-r-sm"><i class="fa fa-angle-double-left"></i> Natrag</button>
				<button ng-disabled="role == 'ROLE_ADMINISTRATOR_RO'" ng-click="edit()" class="btn btn-primary"><i class="fa fa-edit"></i> Uredi</button>
			</div>
		</div>
	</div>
	
	<div class="row" ng-show="mode == 'edit'">
		<div class="col-lg-12">
			<form name="form" class="form-horizontal ng-pristine ng-valid" novalidate>
				<div class="form-group">
					<div class="col-sm-12" ng-class="{ 'has-error' : form.investmentName.$touched && form.investmentName.$invalid }">
						<label class="custom-gray p-xs" style="width: 100%">Naziv</label>
						<input ng-model="investment.name" type="text" class="form-control" name="investmentName" ng-required="true" />
						<small ng-show="form.investmentName.$touched && form.investmentName.$invalid" class="m-l-xs help-block" style="margin-top: 2px">Molimo unesite ime investicije</small>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12" ng-class="{ 'has-error' : form.investmentDescription.$touched && form.investmentDescription.$invalid }">
						<label class="custom-gray p-xs" style="width: 100%">Opis</label>
						<textarea ng-model="investment.description" rows="10" class="form-control" name="investmentDescription" ng-required="true"></textarea>
						<small ng-show="form.investmentDescription.$touched && form.investmentDescription.$invalid" class="m-l-xs help-block" style="margin-top: 2px">Molimo unesite opis investicije</small>
					</div>
				</div>
			</form>
			<hr class="custom-hr">
			<div class="col-lg-12" style="text-align: right;">
				<button ng-click="cancel()" class="btn btn-white m-r-sm"><i class="fa fa-angle-double-left"></i> Natrag</button>
				<button ng-disabled="role == 'ROLE_ADMINISTRATOR_RO'" ng-click="save()" ng-disabled="form.$invalid" class="btn btn-primary"><i class="fa fa-save"></i> Spremi</button>
			</div>
		</div>
	</div>
	
</div>