.nav-header {
	padding: 10px 10px 10px 20px;
}

.grid-a {
	color: inherit;
}

.grid-a:hover {
	color: black;
}

.ui-grid-pager-panel {
	background-color: #eaeaea;
}

.ui-grid-filter-container {
	padding: 4px !important;
}

.ui-grid-filter-input {
	padding-left: 4px !important; padding-right: 24px !important;
}

.white-bg .navbar-fixed-top,
.white-bg .navbar-static-top {
  background: #2f4050;
}

.minimalize-styl-2 {
	margin: 10px 0px 10px 0px;
}

.navbar-top-links li a {
  padding: 15px 10px 15px 10px;
  min-height: 50px;
}

.dropdown-menu .divider {
	margin: 0px;
}

.custom-hr {
	border-top: 1px solid #e0e0e0; 
	margin-top: 0px; 
	margin-bottom: 10px;
}

.custom-a {
	color: #676a6c
}

.custom-a:hover {
	color: #000000;
	text-decoration: underline;
}