.nav-header {
	padding: 10px 10px 10px 20px;
}

.grid-a {
	color: inherit;
}

.grid-a:hover {
	color: black;
}

.ui-grid-pager-panel {
	background-color: #eaeaea;
}

.ui-grid-filter-container {
	padding: 4px !important;
}

.ui-grid-filter-input {
	padding-left: 4px !important; padding-right: 24px !important;
}

.white-bg .navbar-fixed-top,
.white-bg .navbar-static-top {
  background: #2f4050;
}

.minimalize-styl-2 {
	margin: 10px 0px 10px 0px;
}

.navbar-top-links li a {
  padding: 15px 10px 15px 10px;
  min-height: 50px;
}

.dropdown-menu .divider {
	margin: 0px;
}

.img-thumbnail {
	padding: 0px;
	border: none;
}

:focus {
    outline: none;
}

.chosen-container-multi .chosen-choices {
	background: #ffffff;
	box-shadow: none;
	-moz-box-sizing: border-box;
	background-color: #FFFFFF;
	border: 1px solid #CBD5DD;
	border-radius: 2px;
	cursor: text;
	height: auto !important;
	margin: 0;
	min-height: 30px;
	overflow: hidden;
	padding: 4px 12px;
	position: relative;
	width: 100%;
}

.chosen-container-multi .chosen-choices li.search-choice {
	margin: 3px 5px 3px 0px;
	background: #f1f1f1;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
}

.chosen-container-single .chosen-search input[type="text"] {
	font-family: inherit;	
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	font-family: inherit;	
}

.custom-hr {
	border-top: 1px solid #e0e0e0; 
	margin-top: 0px; 
	margin-bottom: 10px;
}

.custom-a {
	color: #676a6c
}

.custom-a:hover {
	color: #000000;
	text-decoration: underline;
}

.custom-panel {
	box-shadow: 0 0 10px #a0a0a0;
	padding-bottom: 5px;
	margin-bottom: 0px;
	height: 450px;
	overflow: hidden;
}

.custom-label-date {
	padding: 2px 10px 2px 10px;
	border-radius: 5px;
}

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.custom-dnd ul[dnd-list],
.custom-dnd ul[dnd-list] > li {
	position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.custom-dnd ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.custom-dnd ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.custom-dnd ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.custom-dnd ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.custom-dnd ul[dnd-list] li.selected {
	
}