<style>
	body {
		background-color: #f3f3f4 !important;
	}
</style>

<div class="loginColumns animated flipInY">
    <div class="row">
    	<div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="ibox-content">
                <div class="form-group">
					<h3>Zaboravili ste zaporku?</h3>                	
				</div>
                <form name="form" class="m-t" role="form" ng-submit="forgotPassword()" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : form.email.$touched && form.email.$invalid }">
                        <input ng-model="email" type="email" class="form-control" placeholder="E-mail" name="email" ng-required="true">
                        <small ng-show="form.email.$touched && form.email.$invalid" class="m-l-xs help-block" style="margin-top: 2px;">Molimo upišite vašu e-mail adresu</small>
                    </div>
                    <button ng-disabled="form.$invalid" type="submit" class="btn btn-primary block full-width m-b-sm">Pošalji</button>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
