<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse" ng-controller="SecurityCtrl">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li style="height: 50px; padding-top: 10px; padding-left: 10px;">
                <img alt="Fund Finder" src="/img/fund_finder_logo.png" width="50">
                <label class="nav-label m-l-xs" style="color: white">FUND FINDER</label>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="fund_finder.dashboard"><i class="fa fa-tachometer"></i> <span class="nav-label">Kontrolna ploča</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="fund_finder.user_overview"><i class="fa fa-users"></i> <span class="nav-label">Korisnici</span><span class="label label-default pull-right">{{totalUsers}}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="fund_finder.tender_overview"><i class="fa fa-star"></i> <span class="nav-label">Natječaji</span><span class="label label-default pull-right">{{totalTenders}}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="fund_finder.investment_overview"><i class="fa fa-line-chart"></i> <span class="nav-label">Investicije</span><span class="label label-default pull-right">{{totalInvestments}}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="fund_finder.article_overview"><i class="fa fa-university"></i> <span class="nav-label">Kako do sredstava</span><span class="label label-default pull-right">{{totalArticles}}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="fund_finder.statistics"><i class="fa fa-area-chart"></i> <span class="nav-label">Statistika</span></a>
            </li>
        </ul>
    </div>
</nav>