<div class="row border-bottom navy-bg">
    <nav ng-controller="SecurityCtrl" class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
            <label ng-show="role == 'ROLE_ADMINISTRATOR'" class="m-sm" style="color: white; font-size: 1.5em; font-weight: 400;">ADMINISTRACIJSKA KONZOLA</label>
            <label ng-show="role == 'ROLE_USER'" class="m-sm" style="color: white; font-size: 1.5em; font-weight: 400;">KORISNIČKA KONZOLA</label>
        </div>
        <ul class="nav navbar-top-links navbar-right">
        	<li class="dropdown" dropdown>
                <a class="dropdown-toggle" href dropdown-toggle style="color: white;">
                    <i class="fa fa-user"></i> {{fullName}} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu animated flipInX">
                    <li><a href="#" style="color: black;" ng-click="logout()"><i class="fa fa-wrench"></i> Izmjeni podatke</a></li>
                    <li class="divider"></li>
                   	<li><a href="#" style="color: black;" ng-click="logout()"><i class="fa fa-sign-out"></i> Odjavi se</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>