<div class="row border-bottom white-bg">
	<div class="col-lg-12">
		<h1><i class="fa fa-line-chart"></i> Investicije</h1>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="m-b-sm" style="text-align: right;">
				<button ng-click="newInvestment()" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Dodaj investiciju</button>
			</div>
			<div ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize class="grid"></div>
		</div>
	</div>
</div>